*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
input:focus, textarea:focus{
	outline: none;
}
body{
	font-family: Arial, Sans-serif, Helvetica;
	background:#e8e8e8;
}

.container{
	margin: auto;
	width: 90%;
	max-width: 1000px;
	/*background: #212d40;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*flex-flow:row wrap;*/
	
}
header{
	width: 100%;
	background-color: #092327;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
header h1{
	color: #fff;
	font-size: 25px;
}
.logo{
	width: 80px;
	display: flex;
	align-items: center;
}
.logo img{
	width: 100%;
}
.menu1{
	list-style: none;
	padding-right: 10px;
	
	width: 100%;
	max-width:1000px;
	margin:20px auto;
}

.menu1 li{
	display: inline-block;
	text-align: center;
}
.menu1 li a{
	color:#fff;
	text-decoration: none;
	display: block;
	padding: 20px;
}
.menu1 li a:hover{
	background: #ef8354;
}
.main{
	background:#fff;
	padding: 20px;
	width: 70%;
}
.thumb{
	margin-bottom: 20px;
}
.thumb img{
	width: 100%;
	vertical-align: top;
}
.main article h2{
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 32px;
}
.main article p{
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 27px;
}
aside{
	width: 30%;
	background:#537dca;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}
.image-state{
	height: 20%;
	background-image: url(img/pic3.jpeg);

	background-size:cover;



}
aside .ad{

	/*
	font-size: 30px;
	text-align: center;
	color: #fff;
	padding: 50px 0;
	background-color: #4264a2;*/

}
.section-gallery{
	width: 100%;
	background: #dedede;
	padding: 25px;
}
.gallery{
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

}
.product{
	text-align: center;
	border: 1px solid #484848;
}
.product h3{
	font-size: 16px;
}
.gallery img{
	vertical-align: top;
	width: 200px;

	margin:8px;
	padding: 3px;
	opacity: .5;
	flex-grow: 1;
}

.gallery img:hover{
	border: 1px solid #fff;
	opacity: 1;
}
.contact{
	background: #fff;
	width: 100%;
	text-align: center;
	padding: 40px;
}
.form1{
	background: #fff;
	width: 70%;

	margin: 20px auto;
	padding: 20px;
	border-radius: 5px; 
}

.form1 input{
	display: block;
}
.form1 input[type="text"],
.form1 input[type="email"],
.form1 textarea{
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 3px;
	border: 1px solid #226fc1;
	font-family: Arial;
	font-size: 13px;
}
.form1 input[type="text"]:focus,
.form1 input[type="email"]:focus,
.form1 textarea:focus{
	border: 2px solid #4fb560 !important;
}
.form1 textarea{
	min-height: 120px;
	max-height: 300px;
	min-width: 100%;
	max-width: 100%;
}
.form1 input[type="submit"]{
	width: 100px;
	margin: 0 auto;
	background: #4fb560;
	border: 1px solid #4fb560;
	color:#fff;
	padding: 10px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 3px;
}
.form1 input[type="submit"]:hover{
	background: none;
	color: #4fb560;
}
footer{
	background: #092327;
	padding: 20px;
	color: #fff;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
footer .social a{
	text-decoration: underline;
	margin-left: 20px;
	color: #fff;
}

@media screen and (max-width: 800px){
	.main{
		width: 100%;
	}
	aside{
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		

	}
	.image-state{
		margin:20px 20px;
		height: 200px;
		width: 200px;
		background-image: url(img/pic3.jpeg);
		flex-grow: 1;
		background-size:cover;
	}
}
@media screen and (max-width: 778px){
	header{
		flex-direction: column;
		padding-bottom: 20px;
		
		align-items: flex-start;

	}
	.logo{
		width: 10%;
		

	}
	
	.menu{
		width: 100%;
		text-align: center;
		padding: 20px;
	}
	.menu a{
		margin:0 20px;
	}
	footer{
		flex-direction: column;
		text-align: center;
	}
	.author{
		order:2;
	}
	.social{
		order:1;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 500px){
	.form1{
		width: 100%;
	}
}
